replicaCount: 1

image:
  repository: postgres
  tag: "16"
  pullPolicy: IfNotPresent

auth:
  username: sigmoid
  password: Postgre123
  database: scopbotdb

persistence:
  enabled: true
  size: 8Gi
  storageClass: managed-premium 

service:
  type: ClusterIP
  port: 5432
