apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: scopbot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: omprasadkade/scopbot-frontend:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "250m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: scopbot
spec:
  type: NodePort   # Change to LoadBalancer if using AKS
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
