apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "scopbot-frontend.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ include "scopbot-frontend.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "scopbot-frontend.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "scopbot-frontend.name" . }}
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: nginx-config
          configMap:
            name: {{ include "scopbot-frontend.fullname" . }}-nginx-config
